<div class="container mt-5">
    <a class="nav-link" href="#" onclick="confirmReset()">
        <i class="fas fa-fw fa-stream"></i>
        <span>Changed:</span></a>
    <ul id="gitStatusTable" class="list-group small">
    </ul>
</div>

<script>
    function updateGitStatusTable(gitStatus) {
        //console.log(gitStatus);
        var gitStatusTable = document.getElementById('gitStatusTable');
        gitStatusTable.innerHTML = '';
        for (var file of gitStatus.files) {
            console.log(file);
            var li = document.createElement('li');
            li.className = 'list-group-item d-flex justify-content-between align-items-center';
            li.innerHTML = file.path;
            var badge = document.createElement('span');
            badge.className = 'badge badge-primary badge-pill';
            badge.innerHTML = file.working_dir;
            li.appendChild(badge);
            gitStatusTable.appendChild(li);
        }
    }
</script>