<div class="container mt-5">
    <table id="gitStatusTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">File Path</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="gitStatusBody">
        </tbody>
    </table>
</div>

<script>
    function updateGitStatusTable(gitStatus) {
        var tbody = $('#gitStatusBody');
        tbody.empty();
        gitStatus.files.forEach(file => {
            var row = $('<tr>');
            row.append($('<td>').text(file.path));
            row.append($('<td>').text(file.index + file.working_dir));
            tbody.append(row);
        });
        $('#gitStatusTable').DataTable();
    }
</script>